@import "zmienne";
@import "mixin"; 



body {
    color: $base-color;
    background-color: $bg-color;
}


    ul {
        margin: 10px;
        padding: 0px;
        list-style: none;
        
        li {
            color: $li-color;
            @include elementListy; 
            display: inline-block;
            
        }
    }

