body {
  color: #220000;
  background-color: beige; }

ul {
  margin: 10px;
  padding: 0px;
  list-style: none; }
  ul li {
    color: blue;
    padding: 20px;
    color: black;
    background-color: coral;
    display: inline-block; }
